.cv {
    width: 100%;
    height: 100%;
    text-align: left;
}
.cv h4 {
    color: rgb(20, 101, 223);
}
.headingBlock {
    background-color: rgb(20, 101, 223);
}
.titleBlock {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.subHeadBlock {
    font-style: italic;
    font-size: 15px;
}
.educationBlock .row {
    padding-bottom: 15px;
}
.h5Block {
    font-size: 1.25rem;
    font-weight: 500;
}
.leftPannel {
    padding-top: 20px;
}
.rightPannel {
    background-color: #f4f4f4;
    height: 100%;
    padding-top: 20px;
}

