.cv {
    text-align: left;
    height: 100%;
    min-height: 100%;
}
.colorFont {
    color: rgb(20, 101, 223);
}
.headingBlock {
    background-color: rgb(20, 101, 223);
}
.titleBlock {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.subHeadBlock {
    font-style: italic;
}
.educationBlock .row {
    padding-bottom: 15px;
}
.h5Block {
    font-size: 1.25rem;
    font-weight: 500;
}
.leftPannel {
    padding-top: 20px;
}
.rightPannel {
    background-color: #f4f4f4;
    min-height: 100%;
    padding-top: 20px;
}
.xlg-textBlock {
    font-size: 3rem;
}
.lg-textBlock {
    font-size: 2rem;
}
.md-textBlock {
    font-size: 1.75rem;
}
.sm-textBlock {
    font-size: 1.25rem;
}
.heading {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.checked{
    color: rgb(20, 101, 223);
}
.customeImg{
    height: 150px;
    border-radius: 50px;
}